:root {
  --color-primary: #FFB100;
  --color-secundary: #414141;
  --color-tranparent: rgba(0, 0, 0, 0.493);
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', 'Segoe UI',
    Arial,
    Sans-Serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: #383536;
}

img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  transition: .3s all ease;
  color: inherit;
  cursor: pointer;
}

figure {
  margin: 0;
}

button {
  border: 0;
  background-color: none;
}

.topbar-menu {
  display: flex;
  align-items: center;
  padding: 0 2.5%;
  margin-top: 1.5rem;
}

.logo-principal {
  width: 30%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hamburger__bar {
  width: 35px;
  height: 4px;
  background-color: black;
  border-radius: 50px;
}

.hamburger__bar::after,
.hamburger__bar::before {
  content: '';
  width: 35px;
  height: 4px;
  background-color: black;
  top: -9px;
  position: absolute;
  border-radius: 50px;
}

.hamburger__bar::before {
  content: '';
  background-color: black;
  top: 9px;
}
.topbar-desktop {
  display: none;
}